/* Se han usado los colores propuestos en la guía de estilos, y algunos principios de gestalt como la regla de la proximidad o el contraste de colores, al igual que las fuentes, y estructura descrita.
*/

body {
    background-image: url("https://images.pexels.com/photos/4913793/pexels-photo-4913793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.encabezado {
    background-image: url("https://images.jumpseller.com/store/toyvan/category/364615/Banner-Arcade-ok.jpg.jpg?0");
}

.encabezado img {
    margin-top: 4px;
    border-radius: 6px;
}

.titulo {
    font-family: "Arial Black";
    color: #f2f2f2;
    margin-bottom: 0em;
    text-shadow: 1px 1px 2px black;
}

.title {
    font-family: "Arial Black";
    color: #73ade2;
    margin-bottom: 0em;
    text-shadow: 1px 1px 2px black;
}

.tituloProducto {
    font-family: "Arial Black";
    color: #c90606;
    text-shadow: 1px 1px 2px black;
}

.contenedor {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.contenedor2 {
    padding: 4px;
}

.contenedor2div {
    width: 340px;
    padding: 4px;
    margin-left: 8px;
    background-color: rgb(177, 177, 177, 0.7);
}

.contenedor3div {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
}

.cuerpoInicio img {
    border-radius: 6px;
}

.cuerpoTexto {
    background-color: rgb(189, 189, 189, 0.7);
}

.footer {
    background-position: bottom;
    background-color: #0E163A;
    color: #909af7;
}

.footer>a {
    color: aqua;
}