.encabezado {
    background-image: url("https://images.jumpseller.com/store/toyvan/category/364615/Banner-Arcade-ok.jpg.jpg?0");
}
.encabezado img {
    margin-top: 4px;
    border-radius: 6px;
}
h1 {
    font-family: "Arial Black";
    color: #f2f2f2;
    margin-bottom: 0em;
    text-shadow: 1px 1px 2px black;
}
.topnav {
    background-color: #0E163A;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ABA48A;
    color: black;
  }
  
  .topnav a.active {
    background-color: #616575;
    color: white;
  }
  .topnav-right {
    float: right;
  }

  .cuerpoInicio {
      background-color: #616575;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0px solid black;
      box-shadow: 5px 10px #0E163A;
      width: 650px;
      height: 450px;
  }

  .cuerpoInicio img {
    border-radius: 6px;
  }